/* Global */

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  button {
    all: unset;
    cursor: pointer;
  }

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

/* Variables */

:root{
    --color-primary-tomato: hsl(4, 100%, 67%);
    
    --color-neutral-slate-grey: hsl(234, 29%, 20%);
    --color-neutral-charcoal-grey: hsl(235, 18%, 26%);
    --color-neutral-grey: hsl(231, 7%, 60%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --fs-primary: "Roboto";
    --fw-normal: 400;
    --fw-bold: 700;
} 

/* Utilities */

body{
    display: grid;
    min-height: 100vh;
    place-content: center;
    font-family: var(--fs-primary);
    background-color: var(--color-neutral-charcoal-grey);
}

.hero-img-desktop{
    display: none;
}

.header-text{
    font-size: 2.5rem;
    font-weight: var(--fw-bold); 
    line-height: 1;
    color: var(--color-neutral-slate-grey);
}

.body-text{
    font-size: 1rem;
    font-weight: var(--fw-normal);
    color: var(--color-neutral-slate-grey);
}

.body-text-bold{
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

span .body-text-bold{
    color: var(--color-neutral-slate-grey);
}

button p{
    color: var(--color-neutral-white);
}

.body-text-small{
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    color: var(--color-neutral-slate-grey);
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    gap: 1rem;
    padding-bottom: 0.625rem;
}

li img{
    align-self: flex-start;
    justify-self: center;
}

input{
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

button{
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--color-neutral-slate-grey);
    border-radius: 8px;
    width: 100%;
}

label{
    display: flex;
    justify-content: space-between;
}

.error-text{
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--color-primary-tomato);
}


.pb-24{
    padding-bottom: 1.5rem;
}

.pb-40{
    padding-bottom: 2.5rem;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    max-width: 23.438rem;
    background-color: var(--color-neutral-white);
}

.content{
    padding: 2.5rem 1.5rem;
}

.confirmation-card{
    display: none;
    flex-direction: column;
    background-color: var(--color-neutral-white);
    max-width: 23.438rem;
    width: 100%;
    padding: 2.5rem 1.5rem;
    gap: 16.438rem;
}

.confirmation-card img{
    height: 64px;
    width: 64px;
    margin-bottom: 2.5rem;
}

/* Breakpoints */

@media screen and (min-width: 930px){
    main{
        flex-direction: row-reverse;
        max-width: 58rem;
        border-radius: 36px;
        padding: 1.5rem;
        gap: 4rem;
    }

    .hero-img-mobile{
        display: none;
    }

    .hero-img-desktop{
        display: block;
    }

    .content{
        max-width: 27rem;
        padding-left: 2.5rem;
    }

    .header-text{
        font-size: 3.5rem;
        font-weight: var(--fw-bold);
        line-height: 1;
        color: var(--color-neutral-slate-grey);
    }

    button:hover{
        background-color: var(--color-primary-tomato);
    }

    .confirmation-card{
        max-width: 31.5rem;
        gap: 0;
        border-radius: 2.25rem;
        padding: 3rem 4rem 4rem 4rem;
        gap: 2.5rem;
    }
}



