@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #FFFFFF;
    --color-cream-background: #F2EAE2;
    --color-aurometal: #6C7289;
    --color-aquamarine: #3D8168;
    --color-aquamarine-hover: #1A4032;
    --color-gunmental: #1C232B;

    --text-primary: "Montserrat";
    --text-secondary: "Fraunces";
    --text-weight-heavy: 750;
    --text-weight-light: 500;
    --text-spacing: 0px;
}

h1{
    font-family: var(--text-secondary);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: var(--text-weight-heavy);
    color: var(--color-gunmental);
}

p{
    font-family: var(--text-primary);
    font-size: 0.875rem;
    line-height: 1.438rem;
    font-weight: var(--text-weight-light);   
    color: var(--color-aurometal);
}

h2{
    font-family: var(--text-primary);
    font-size: 0.875rem;
    font-weight: var(--text-weight-heavy);
    text-wrap: nowrap;
}

h3{
    font-family: var(--text-primary);
    font-size: 0.75rem;
    font-weight: var(--text-weight-light);
    letter-spacing: 0.313rem;
    color: var(--color-aurometal);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-cream-background);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    width: 21.438rem;
    max-width: 100%;
    border-radius: 0.625rem;
}

.product-image{
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.product-section{
    padding: 1.5rem;
}

.product-type{
    margin-bottom: 0.75rem;
}

.product-title{
    margin-bottom: 1rem;
}

.product-description{
    margin-bottom: 1.5rem;
}

.product-price{
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.188rem;
}

.container .product-price h1{
    color: var(--color-aquamarine);
}

.container .product-price span{
    font-size: 0.813rem;
    line-height: 1.438rem;
    color: var(--color-aurometal);
    text-decoration: line-through;
}

#add-cart{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 5.75rem;


    background-color: var(--color-aquamarine);
    border-radius: 0.5rem;
    border: 0;
    color: var(--color-white);
}

#add-cart:hover{
    background-color: var(--color-aquamarine-hover);
    color: var(--color-white);
    cursor: pointer;
}

/* Breakpoints */

@media screen and (min-width: 768px){
    .container{
        flex-direction: row;
        width: 37.5rem;
    }

    .product-image{
        content:url("./images/image-product-desktop.jpg");
        max-width: 300px;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        border-top-right-radius: 0rem;
    }

    .product-section{
        padding: 2rem;
    }

    .product-type{
        margin-bottom: 1.25rem;
    }
    
    .product-title{
        margin-bottom: 1.5rem;
    }

    .product-description{
        margin-bottom: 1.875rem;
    }

    .product-price{
        margin-bottom: 1.8rem;
    }

    #add-cart{
        padding: 1rem 3.875rem;
    }
}
